@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'NotoSansKR-VariableFont_wght';
  font-weight: 600;
  src: url('../public/fonts/Noto_Sans_KR/NotoSansKR-VariableFont_wght.ttf') format('opentype');
}

:root {
}
main {
  flex: 1;
}
body {
  background: #fff;
  height: 100vh;
}

a {
  text-decoration: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none; /* Hide spin buttons for WebKit browsers */
  appearance: none; /* Hide spin buttons for other browsers */
}
